/* PRESTYLES */
:root {
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-size: 1.5em;
    --color-lightgray: #f3f3f3;
    --color-gray: #e0e0e0;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.noscroll {
    overflow: hidden;
}

/* HEADER */
header {
    margin: 0 auto;
    padding: 0vw 1vw 1vw 1vw;
    border-bottom: 1px dotted var(--color-gray);
    background-color: var(--color-lightgray);

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Additions */
.header-logo > a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo > a > p {
    margin-left: -20px;
    line-height: 1;
    text-align: center;
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    transform: translateY(-5px);
}

.header-logo > a > img {
    width: 100px;
    height: 100px;
    mix-blend-mode: darken;
}

.header-links {
    padding-left: 1rem;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-links > li {
    padding-left: 1rem;
}

/* MAIN */
main {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin-top: 6vw;
    width: 100%;
    max-width: 1000px;
    height: 600px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 4px dashed black;
    border-radius: 0.5rem;
}

.gallery-title {
    width: max-content;
    padding: 6vw 0;
    margin: 0 auto;
}

hr.gallery-divider {
    margin-bottom: 6vw;
    width: 100%;
    max-width: 1200px;
    border-top: 4px solid var(--color-gray);
    border-radius: 4px;
}

.gallery {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1vw;
}

.gallery-item {
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 30%;
    flex-grow: 1;
    width: 100%;
    height: auto;
    max-height: 379px;
    position: relative;
    z-index: 1;

    background-color: var(--color-lightgray);
}

.gallery-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}



.gallery-item-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-anchor {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    transition: background-color 0.1s;

    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.0);    
}

.gallery-item-anchor:hover {
    background-color: rgba(0,0,0,0.5);
}

.carousel-images {
    display: none;
}

/* IMAGE SLIDER */
.carousel-modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0,0,0,0.98);
}

.carousel-modal > * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-modal-close {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 1rem;
    cursor: pointer;
    border: none;

    background-color: transparent; 
    color: white;
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-size: 2rem;
}

.swiper {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    width: 100%;
    height: 80%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-slide p {
    position: relative;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.swiper-button-next, .swiper-button-prev {
    mix-blend-mode:difference;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1rem;
    color: white;
    /* background-color: rgba(255,255,255,0.01); */
    /* border-radius: 50%; */
    padding: 4rem;
}

.swiper-button-prev:focus, .swiper-button-next:focus {
    outline: 0;
}

.swiper-pagination {
    top: 0;
}

.swiper-pagination-fraction {
    padding: 1rem;
    bottom: unset;
    color: white;
    font-size: 2rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-media {
    margin: 6vh 0 0 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.social-media > li {
    cursor: pointer;
    opacity: 0.5;
}

.social-media > li:hover {
    opacity: 1;
}

footer span {
    text-align: center;
    padding: 1rem;
}

/* Media Queries */
@media only screen and (orientation: landscape) and (max-width: 808px), (orientation: portrait) and (max-width: 480px) {
    :root {
        font-size: 1em;
    }
    /* Gallery */
    main {
        padding: 0.25rem;
    }

    /* Modal */
    .carousel-modal {
        padding: 0;
        background-color: black;
    }

    /* Swiper */
    .swiper {
        background-color: black;
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        height: 90%;
    }

    .swiper-slide p {
        color: white;
    }

    .swiper-button-prev, .swiper-button-next {
        top: 85vh;
    }

    .swiper-pagination-fraction {
        text-align: right;
    }
}