/* PRESTYLES */

:root {
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-size: 1.5em;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    border-radius: 3px;
}

/* HEADER */

header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    box-sizing: border-box;
    border: 10px double white;

    font-weight: bold;
    padding: 0.5rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {

}

nav ul {
    padding: 0 2rem;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    padding-left: 4vw;
    display: inline;
    text-align: right;
}

nav a {
    display: inline-block;
    transition: 0.2s ease-in-out;
}

nav a:hover {
    transition: 0.1s ease-in-out;
    transform: translateY(-3px);
}

/* MAIN */

main {

}

.main-splash {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/peekaboo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center;

    text-align: center;
}

.main-splash h1 {
    font-size: 8vmin;
}

.main-splash-next-page {
    position: absolute;
    font-size: 3rem;
    bottom: 2rem;

    animation: bounce 0.5s infinite;
    animation-direction: alternate-reverse;
    transition: 0.5s;
}

.gallery-title {
    width: max-content;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.gallery {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1vw;
}

.gallery-item {
    cursor: pointer;
    flex-basis: 30%;
    flex-grow: 1;
    height: 30vmin;
    max-height: 379px;
    position: relative;
    z-index: 1;

    background-color: white;
}

.gallery-item-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-anchor {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    transition: background-color 0.1s;

    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.0);    
}

.gallery-item-anchor:hover {
    background-color: rgba(0,0,0,0.5);
}

.carousel-images {
    display: none;
}

/* IMAGE SLIDER */
.carousel-modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-modal-close {
    display: none;
    align-self: flex-start;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.swiper {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.swiper-slide p {
    position: relative;
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

/* FOOTER */
footer {
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

footer span {
    text-align: center;
    padding: 1rem;
}

/* Animations */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1rem);
    }
  }

/* Media Queries */
@media screen and (max-width: 500px) {
    :root {
        font-size: 1em;
    }
    * {
        border-radius: 0px;
    }
    .carousel-modal {
        padding: 0;
        background-color: black;
    }
    .carousel-modal-close {
        display: initial;
    }
    .swiper {
        background-color: black;
        max-width: 100vw;
        max-height: 100vh;
    }
    .swiper-slide img {
        height: 90%;
    }
    .swiper-slide p {
        color: white;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 1rem;
    }
}